

body {
    background: #000000;
    color: #999;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background:  rgb(222, 236, 21);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #ffffff;
    margin: 5px;
  }
  
  .back-to-top:hover {
    background: #6d6d67;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  
 


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background:  rgb(222, 236, 21);
    overflow-y: auto;
  }
  
  #header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 2px solid #212431;
   
  }
  
  #header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  
  #header .profile h1 a,
  #header .profile h1 a:hover {
    color: #212431;
    text-decoration: none;
  }
  
  #header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-top: 10px;
  }
  
  #header .profile .social-links a:hover {
    background: #6d6d67;
    color: #fff;
    text-decoration: none;
  }

  #header .profile img:hover{
    transform: scale(1.1); /*Zoom effect on hover */
     /* border-width: 10px; */
     transition: transform 0.5s ease-in-out, border-width 0.3s ease-in-out;
  }


  
  #main {
    margin-left: 300px;
  }
  
  .container,
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media (max-width: 1700px) {
    #header {
      left: -300px;
    }
  
    #main {
      margin-left: 0;
    }

  
    .container,
    .container-fluid {
      padding-left: 12px;
      padding-right: 12px;
    }
  }


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
    padding: 30px 0 0 0;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a,
  .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #212431;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  .nav-menu a i,
  .nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
    text-decoration: none;
    color: #212431;
    font-weight: bold;
  }
  
  .nav-menu a:hover i,
  .nav-menu .active i,
  .nav-menu .active:focus i,
  .nav-menu li:hover>a i {
    color: #212431;
  }
  

/* Mobile nav toggle  */

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: rgb(222, 236, 21);
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }

  @media (min-width: 1700px) {
  .mobile-nav-toggle {
    display: none;
  }
}
  


/* start all section */
#home,
#home .fp-slide,
#home .fp-tableCell,

#work,
#work .fp-slide,
#work .fp-tableCell,

#about,
#about .fp-slide,
#about .fp-tableCell,

#contact,
#contact .fp-slide,
#contact .fp-tableCell,

#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,

footer,
footer .fp-slide,
footer .fp-tableCell {
    height: auto !important;
}

/* end all section */


a{
    color: rgb(222, 236, 21);
}
/* start all heading */
h1,
h2,
h3,
h4,
h5 {
    color: #ffffff;
    font-weight: bold;
}

/* #portfolio-slideshow {
    width: 100%;
    height: 400px; 
    overflow: hidden;
    position: relative;
}

#portfolio-slideshow img {
    width: 40%;
    height: 100%;
    border: 2px solid transparent; Border thickness
    border-image: linear-gradient(135deg, #b1cf06, #ee0979) 1; Gradient border colors
    border-image-slice: 1;
    transition: transform 0.5s ease-in-out, border-width 0.3s ease-in-out;
}

#portfolio-slideshow img:hover {
    transform: scale(1.2); Zoom effect on hover 
     border-width: 10px; Border thickness on hover
} */


/* end all heading */

/* start all section */
#work,
#about,
#portfolio,
#contact {
    padding-top: 100px;
    padding-bottom: 120px;
}

/* end all section */

/* start simpletextrotator */
.rotating {
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
    -o-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin-x: 50%;
}

.rotating.flip {
    position: relative;
}

.rotating .front,
.rotating .back {
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.rotating .front {
    position: absolute;
    display: inline-block;
    -webkit-transform: translate3d(0, 0, 1px);
    -moz-transform: translate3d(0, 0, 1px);
    -ms-transform: translate3d(0, 0, 1px);
    -o-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
}

.rotating.flip .front {
    z-index: 1;
}

.rotating .back {
    display: block;
    opacity: 0;
}

.rotating.spin {
    -webkit-transform: rotate(360deg) scale(0);
    -moz-transform: rotate(360deg) scale(0);
    -ms-transform: rotate(360deg) scale(0);
    -o-transform: rotate(360deg) scale(0);
    transform: rotate(360deg) scale(0);
}


.rotating.flip .back {
    z-index: 2;
    display: block;
    opacity: 1;

    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    -moz-transform: rotateY(180deg) translate3d(0, 0, 0);
    -ms-transform: rotateY(180deg) translate3d(0, 0, 0);
    -o-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
}

.rotating.flip.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0, 0, 0);
    -moz-transform: rotateX(180deg) translate3d(0, 0, 0);
    -ms-transform: rotateX(180deg) translate3d(0, 0, 0);
    -o-transform: rotateX(180deg) translate3d(0, 0, 0);
    transform: rotateX(180deg) translate3d(0, 0, 0);
}

.rotating.flip.cube .front {
    -webkit-transform: translate3d(0, 0, 100px) scale(0.9, 0.9);
    -moz-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
    -ms-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
    -o-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube .back {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
    -moz-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -ms-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -o-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
    -moz-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -ms-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -o-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

/* end simpletextrotator */

/* start home */
#home {
    background: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 62px;
    padding-bottom: 140px;
    text-align: center;
}

.profile-image {
	text-align: center;
	margin-bottom: 20px;
}

.profile-image img {
	width: 288px; /* Adjust the width as needed */
	height: auto;
	
}

.profile-image img:hover {
	
	transform: scale(1.2); /*Zoom effect on hover */
     border-width: 10px;
     transition: transform 0.5s ease-in-out, border-width 0.3s ease-in-out;
}


#home h1 {
    border: 2px solid rgb(222, 236, 21);
    color: rgb(222, 236, 21);
    display: inline-block;
    letter-spacing: 6px;
    padding: 14px 13px;
    margin: 30px 0;
}

#home h1:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out, border-width 0.3s ease-in-out;
}

#home h2 {
    padding-bottom: 10px;
}

#home .btn {
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    height: 60px;
    margin-top: 40px;
    padding-top: 18px;
    transition: all 0.4s ease-in-out;
}

#home .btn:hover {
    background: #6d6d67;
    border-color: transparent;
}

/* end home */

/* start work */
#work {
    background: #1a1a1a;
}

#work h2 {
    text-align: center;
}

#work .media {
    margin-top: 30px;
}

#work .media .fa {
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: rgb(222, 236, 21);
    font-size: 24px;
    margin-right: 24px;
    width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.4s ease-in;
}

#work .media .fa:hover {
    background: #6d6d67;
    cursor: pointer;
}

#contact .fa:hover{
    background: #6d6d67;
    cursor: pointer;
}

#work .media .media-heading {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}

/* end work */

/* start about */
#about h4 {
    padding: 15px 0;
    color: rgb(222, 236, 21);
}

#about .progress {
    border-radius: 4px;
    background: #ffffff;
    height: 4px;
}

#about .progress .progress-bar-danger {
    background: rgb(222, 236, 21);
}

#about .text-top {
    padding-top: 50px;
}

#about span {
    color: #ffffff;
    font-weight: bold;
    display: block;
    padding-bottom: 6px;
}

#about small {
    font-weight: bold;
    float: right;
}

/* end about */

/* start portfolio */
#portfolio {
    background: #1a1a1a;
    text-align: center;
}

#portfolio h2 {
    padding-bottom: 30px;
}

#portfolio .portfolio-thumb {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

#portfolio .portfolio-thumb .portfolio-overlay {
    background: rgb(222, 236, 21);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(0.9);
}



/* end portfolio */

/* start contact */

#contact address {
    padding-bottom: 18px;
}

#contact .contact-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #ffffff;
}

#contact .fa {
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: rgb(222, 236, 21);
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    margin-right: 20px;
}



#contact .form-control {
    background: transparent;
    border: 2px solid #999;
    border-radius: 0;
    box-shadow: none;
    color: #ffffff;
    margin-bottom: 20px;
}

#contact input {
    height: 50px;
}

#contact input[type="submit"] {
    background: rgb(222, 236, 21);
    border: 2px solid transparent;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
    background: #6d6d67;
    color: rgb(255, 255, 255);
}

 


/* end contact */

/* start footer */
footer {
    border-top: 1px solid #090909;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer hr {
    border: 0;
    background: rgb(222, 236, 21);
    height: 1.2px;
    margin: 60px 84px;
}

/* end footer */

/* start social icon */
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border-radius: 50%;
    color: #606060;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    margin-right: 10px;
}

.social-icon li a:hover {
    color: rgb(222, 236, 21);
}

.social-icon :hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out, border-width 0.3s ease-in-out;
}

/* end social icon */